<% content_tag_for(:li, track, :class => cycle('odd','even')) do %>
    <span class="track-title">
    <strong><%=h truncate(track.title, :length => 60) %></strong>
    <% if track.artist %>
    &ndash; <span class="track-artist"><%=h truncate(track.artist.name, :length => 30) %></span>
    <% end %>
    </span>
    <span class="track-length"><%= seconds_to_time(track.length) %></span>
    <span class="<%= track.loved? ? 'track-love loved' : 'track-love' %>"><% if track.loved? %>♥<% else %>♡<% end %></span>
<% end %>