<div class="container_16 clearfix pane" style="padding:0;">
  <div class="releases clearfix">
    <%= render :partial => 'profiles/releases/release', :collection => @releases %>
  </div>
</div>

<div class="container_16 clearfix">
  <div class="grid_16">
    <%= will_paginate(@releases) %>
  </div>
</div>