<div class="follower">
  <%= link_to(image_tag(gravatar_url(follower), :size => '35x35'), profile_path(follower.login), :target => '_blank', :class => 'tooltipped', :title => follower.login, :style => 'float:left; margin:3px;') %>
</div>