<div class="subscriber">
  <%= link_to(image_tag(gravatar_url(subscriber), :size => '35x35'), profile_path(subscriber.login), :target => '_blank', :class => 'tooltipped', :title => subscriber.login, :style => 'float:left; margin:3px;') %>
</div>