<!DOCTYPE HTML>
<html>
<head>
<title><%=h @release.full_title %></title>
<style>
html,body { width:100%; height:100%; margin:0; padding:0; background:#000; }
</style>
</head>
<body>
<%= image_tag(@release.artwork.url(:large, false), :style => 'width:100%;height:100%;') %>
</body>
</html>