<div class="container_16 clearfix">
  <div class="grid_18 prefix_4 suffix_4 aligncenter">
    <h1>Thank you for subscribing!</h1>
    <h3>
      Your payment succeeded and we are working hard on copying all the releases
      to your library.
    </h3>
    <p class="small grey">
      Copying all the releases should only take a minute or two.
      If nothing new shows up in your library within an hour, contact us at
      <%= mail_to('support@bitspace.se') %> and we will help you.
    </p>
  </div>
</div>