<%= render :partial => 'header' %>

<div class="container_12 clearfix">
  <div class="grid_8 suffix_1">
    <h2 style="margin-bottom:10px;">API Overview</h2>
    <p>Bitspace Developerland is where we publish our APIs and other bits of
    interest to developers. Our APIs are implemented as JSON over HTTP.
    We currently publish the Upload API, the Library API,
    the Search API and the Account API.</p>
    
    <h2 style="margin-bottom:10px;"><%= link_to('Authentication', authentication_developer_path) %></h2>
    <p>All request to the API are currently required to be authenticated.
      That basically means that you need an existing Bitspace account in order
      to make requests to the API.</p>
    
    <h2 style="margin-bottom:10px;"><%= link_to('Upload API', upload_developer_path) %></h2>
    <p>The Upload API allows you to build tools that upload music to a users
      music library. You can also use the Upload API to import music from
      an arbitrary URL.</p>
    
    <div class="grey">
    <h2 style="margin-bottom:10px;">Library API <span>(soon)</span></h2>
    </div>
    
    <div class="grey">
    <h2 style="margin-bottom:10px;">Search API <span>(soon)</span></h2>
    </div>
    
    <div class="grey">
    <h2 style="margin-bottom:10px;">Account API <span>(soon)</span></h2>
    </div>
    
    <div class="grey">
    <h2 style="margin-bottom:10px;">Widgets <span>(soon)</span></h2>
    </div>
  </div>
  
  <div class="grid_3">
    <%= render :partial => 'navigation' %>
  </div>
</div>
