<div class="container_16 clearfix pane">
  <div class="artists clearfix infinite-scroll">
    <div id="infscr-page-1" class="infscr-pages">
      <%= render :partial => 'artist', :collection => @artists %>
    </div>
  </div>
  <%= more(@artists) %>
</div>