<div class="container_16 clearfix">
  <div class="grid_16">
    <h1><%=h @artist.name %></h1>
  </div>
</div>

<div class="container_16 clearfix">
  <div class="grid_16">
    <div id="releases">
      Please wait...
    </div>
  </div>
</div>
<script type="text/javascript">
$(function(){
  $('#releases').load('<%= url_for([@artist, :releases]) %>');
});
</script>