<div class="container_16 clearfix pane">
  <ul class="followers clearfix" style="list-style:none;">
    <%= render :partial => 'profiles/followers/follower', :collection => @followers %>
  </ul>
</div>

<div class="container_16 clearfix">
  <div class="grid_16">
    <%= will_paginate(@followers) %>
  </div>
</div>