<div class="container_16 clearfix">
  <div class="labels masonry clearfix infinite-scroll-with-masonry">
    <div id="infscr-page-1" class="infscr-pages">
      <%= render :partial => 'label', :collection => @labels %>
    </div>
  </div>
  <%= more(@labels) %>
</div>
