<div class="container_16 clearfix">
  <div class="grid_16 aligncenter">
    <h1>30-day Free Trial on All Accounts</h1>
    <h3 class="grey">1,000 people a week sign up for Bitspace. Get your own in 60 seconds.</h3>
  </div>
  
  <div class="grid_4 prefix_2 aligncenter">
    <div class="pane" style="height: 236px; overflow: hidden; line-height: normal;">
      <h2>Bitspace Free</h2>
      <h3>€0/month</h3>
      <ul style="list-style: none;">
        <li style="margin: 0;"><strong>1 GB</strong> storage</li>
        <li style="margin: 0;"><strong>20</strong> albums*</li>
        <li style="margin: 0;"><strong>200</strong> tracks*</li>
      </ul>
      <p><%= facebook_login_button %></p>
      <p class="small grey">Bitspace Free is currently invitation only.</p>
    </div>
  </div>
    
  <div class="grid_4 aligncenter">
    <div class="pane" style="height: 236px; overflow: hidden; border: 2px solid #555; position: relative; top: -2px; line-height: normal;">
      <h2>Bitspace Premium</h2>
      <h3>€7,99/month</h3>
      <ul style="list-style: none;">
        <li style="margin: 0;"><strong>50 GB</strong> storage</li>
        <li style="margin: 0;"><strong>1000</strong> albums*</li>
        <li style="margin: 0;"><strong>10,000</strong> tracks*</li>
      </ul>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="9369035">
      <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypal.com/sv_SE/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </div>
  
  <div class="grid_4 suffix_2 aligncenter">
    <div class="pane" style="height: 236px; overflow: hidden; line-height: normal;">
      <h2>Bitspace Unlimited</h2>
      <h3>€79,99/month</h3>
      <ul style="list-style: none;">
        <li style="margin: 0;"><strong>Unlimited</strong> storage</li>
        <li style="margin: 0;"><strong>Unlimited</strong> albums</li>
        <li style="margin: 0;"><strong>Unlimited</strong> tracks</li>
      </ul>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="9369365">
      <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypal.com/sv_SE/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </div>
  
  <div class="grid_16 aligncenter" style="margin-top: 40px;">
    <small class="small grey">
      * Actual capacity varies by content.
    </small>
  </div>
    
    <!-- KE4nY91DBJRs9eGYLZcHsveVT9SYZYgoJ3hqmZ17NhsR41etIaybrJN8pla -->
    
    <!--
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=5VXN9TP3QC5RG">
    <img src="https://www.paypal.com/en_US/i/btn/btn_unsubscribe_SM.gif" border="0">
    </a>
    -->
    
  </div>
</div>