<div class="pane">
  <ul>
    <% BlogPost.all.each do |post| %>
    <li>
      <%= link_to(h(post.title), edit_blog_post_path(post)) %>
      <div class="small grey">
        <%= post.created_at %> &bull;
        <% if post.published? %>
        <strong>Published</strong>
        <% else %>
        <strong>Not yet published</strong>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
</div>