<% div_for(post) do %>
<h2 style="margin: 0"><%= link_to(h(post.title), blog_post_path(post)) %></h2>
<div class="small grey" style="margin-bottom:10px"><%= post.created_at %></div>
<div class="body">
  <%= simple_format(post.body) %>
</div>
<% end %>