<div class="container_16 clearfix">
  <div class="grid_9 prefix_1">
    <% if @posts.empty? %>
      <p class="fallback">
        It seems we haven't written anything in the blog yet.
      </p>
    <% else %>
      <%= render :partial => 'post', :collection => @posts %>
      <%= will_paginate(@posts) %>
    <% end %>
  </div>
  <div class="grid_5 suffix_1">
    <%= render :partial => 'sidebar' %>
  </div>
</div>
<script type="text/javascript">
//<![CDATA[
(function() {
  var links = document.getElementsByTagName('a');
  var query = '?';
  for(var i = 0; i < links.length; i++) {
    if(links[i].href.indexOf('#disqus_thread') >= 0) {
      query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
    }
  }
  document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/bitspace/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>