<div class="container_16 clearfix">
  <div class="grid_9 prefix_1">
    <%= render :partial => 'post', :object => @post %>
    <div class="comments" id="comments">
      <h4>Comments</h4>
      <fb:comments xid="<%= CGI.escape(request.request_uri) %>" canpost="true" candelete="false" width="400px"></fb:comments>
    </div>
  </div>
  <div class="grid_5 suffix_1">
    <%= render :partial => 'sidebar' %>
  </div>
</div>