<div class="container_16 clearfix" style="margin-bottom:20px;">
  <div class="grid_9 prefix_1">
    <%= render :partial => 'post', :object => @post %>
    <div class="comments" id="comments">
      <h4>Comments</h4>
      <% if Rails.env.development? %>
      <script type="text/javascript">
      var disqus_developer = true;
      </script>
      <% end %>
      <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/bitspace/embed.js"></script><noscript><a href="http://disqus.com/forums/bitspace/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  </div>
  <div class="grid_5 suffix_1">
    <%= render :partial => 'sidebar' %>
  </div>
</div>

<hr />

<div class="container_16 clearfix">
  <div class="grid_16 aligncenter">
    <h2><%= link_to('<strong><u>Try Bitspace for free for 30 days.</u></strong> See plans and pricing →', price_path) %></h2>
    <h3 class="grey">60 seconds from signing up to enjoying your music. No credit card required. No obligations.</h3>
  </div>
</div>