body.white { background: #fff; color: #000; }
body.white .release { background: #eee; }
body.white .release ol.tracks { background: #fff; }
body.white .release ol.tracks li.odd { background: #f0f5fa; }
body.white .release ol.tracks li.even { background: #fff; }

body.black { background: #060606; color: #fff; }
body.black #root { background: #151515; }
body.black #nav { background: url(/images/black/nav-shade.png) repeat-x; }
body.black #menu { border-bottom: 1px solid #222; }
body.black #menu a { color: #666; }
body.black #menu a:hover { color: #999; }
body.black #menu .first a.current { background: none; }
body.black #menu a.current { background: url(/images/black/dot.png) no-repeat 50% bottom; color: #ccc; }
body.black #footer { color: #666; }
body.black .grey { color: #555; }
body.black .small { font-size: 11px; }
body.black .progress,
body.black .ui-slider { background-color: #2a2a2a; border: 1px solid #191919; }
body.black .progress .gauge,
body.black .ui-slider .ui-slider-range { background: #151515; }
body.black .ui-slider .ui-slider-handle { background: url(/images/black/progress-handle.png) no-repeat; }
body.black .progress-status { color: #555; }
body.black .pane { background: #2a2a2a; }
body.black .dialog { background: #151515; }
body.black .more { border: 1px solid #222; }
body.black .more:hover { background: #222; }
body.black a { color: #ccc; text-decoration: none; text-shadow: #000 1px 1px 0px; }
body.black a:hover { color: #fff; }
body.black h1, body.black h2, body.black h3 { text-shadow: #000 1px 1px 1px; }
body.black h1 a, body.black h2 a, body.black h3 a { text-shadow: #000 1px 1px 1px; }
body.black .release { background: #2a2a2a; border-top: 1px solid #1d1d1d; }
body.black .release ol.tracks { background: #2f2f2f; color: #777; }
body.black .release ol.tracks li.odd { background: #252525; }
body.black .release ol.tracks li.even { background: #2f2f2f; }
body.black .release ol.tracks li a.playing { background: url(/images/black/playing.png) no-repeat; }
body.black .release ol.tracks li a.loading { background: url(/images/black/loading.gif) no-repeat; }
body.black .years .year { border-top: 1px solid #1d1d1d; }
body.black .years .releases { background: -webkit-gradient(linear, left top, left bottom, from(rgba(34,34,34, .5)), color-stop(0.55, rgba(34,34,34, .01)), to(transparent)); }
body.black .track-love { opacity: 0.5; background: url(/images/love.png) no-repeat 50% 0; text-indent: -9999px; }
body.black .track-love:hover { opacity: 0.5; background-position: 50% -19px; }
body.black .track-love.loved { opacity: 1; background-position: 50% -38px; }
body.black .error { color: #f00; }
