@font-face { font-family:GraublauWeb; src:url(/fonts/GraublauWeb.otf) format("opentype") }
@font-face { font-family:GraublauWeb; src:url(/fonts/GraublauWebBold.otf) format("opentype"); font-weight:bold }

body.white { background: #eee; font: 11px/18px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; color: #333 }
body.white #root { background: #fff; }
body.white #menu { border-bottom: 1px solid #eee; }
body.white #menu a { color: #666; font-size: 12px; }
body.white #menu a:hover { color: #999; }
body.white #menu .first a.current { background: none; }
body.white #menu a.current { background: url(/images/black/dot.png) no-repeat 50% bottom; color: #ccc; }
body.white #footer { background: #111; color: #ccc; text-shadow: #000 1px 1px 1px !important; }
body.white #footer a { color: #fff; text-shadow: #000 1px 1px 1px !important; }
body.white #footer h2, body.white #footer h2 a { text-shadow: #000 1px 1px 1px !important; }
body.white #footer h3, body.white #footer h3 a { text-shadow: #000 1px 1px 1px !important; }
body.white #globalfooter { color: #666; }
body.white hr { border-color: #eee; }
body.white .grey { color: #aaa; }
body.white .small {}
body.white a { color: #09f; text-decoration: none; text-shadow: #eee 1px 1px 0px; transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; }
body.white a:hover { color: #3cf; }
body.white a:focus { outline:none }
body.white h1 { text-shadow: #fff 1px 1px 1px; font: normal normal normal 30px/40px GraublauWeb, Georgia, Times, 'Times New Roman', serif; }
body.white h2 { text-shadow: #fff 1px 1px 1px; font: normal normal normal 20px/20px GraublauWeb, Georgia, Times, 'Times New Roman', serif; }
body.white h3 { text-shadow: #fff 1px 1px 1px; font: normal normal normal 15px/20px GraublauWeb, Georgia, Times, 'Times New Roman', serif; }
body.white h1 a, body.white h2 a, body.white h3 a { text-shadow: #fff 1px 1px 1px; }
body.white h1 em, body.white h2 em, body.white h3 em { text-shadow: #000 0px 0px 1px; }
body.white .pane { -webkit-box-shadow: 1px 1px 5px #aaa; -moz-box-shadow: 1px 1px 5px #aaa; background: #eee; background: -webkit-gradient(linear, left top, left bottom, from(#eee), color-stop(0.2, #f9f9f9), to(#fff)); background: -moz-linear-gradient(left top, left bottom, from(#eee), color-stop(0.2, #f9f9f9), to(#fff)) no-repeat; border: 2px solid #fff; }
body.white .box { -webkit-box-shadow: 1px 1px 5px #aaa; -moz-box-shadow: 1px 1px 5px #aaa; background: #eee; background: -webkit-gradient(linear, left top, left bottom, from(#eee), color-stop(0.2, #f9f9f9), to(#fff)); background: -moz-linear-gradient(left top, left bottom, from(#eee), color-stop(0.2, #f9f9f9), to(#fff)) no-repeat; border: 2px solid #fff; }
body.white #sb-body { color: #fff; }
body.white .release { background: #eee; }
body.white .release ol.tracks { background: #fff; }
body.white .release ol.tracks li.odd { background: #f0f5fa; }
body.white .release ol.tracks li.even { background: #fff; }

body.black { background: #060606; color: #fff; }
body.black #root { background: #151515; }
body.black #nav { background: url(/images/black/nav-shade.png) repeat-x; }
body.black #user-menu li { color: #999; }
body.black #user-menu li span { color: #fff; }
body.black #menu { border-bottom: 1px solid #222; }
body.black #menu a { color: #666; }
body.black #menu a:hover { color: #999; }
body.black #menu .first a.current { background: none; }
body.black #menu a.current { background: url(/images/black/dot.png) no-repeat 50% bottom; color: #ccc; }
body.black #footer { color: #666; }
body.black #upload-info { background: #000; -webkit-border-radius: 20px; -moz-border-radius: 20px; opacity: 0.95; -webkit-box-shadow: 0px 0px 25px #444; }
body.black #upload-info-arrow { background: url(/images/black/upload-bubble-arrow.png) no-repeat; }
body.black #upload-spinner { background: url(/images/black/upload-spinner.gif) no-repeat 50% 50%; }
body.black hr { border-color: #222; }
body.black .grey { color: #555; }
body.black .small { font-size: 11px; }
body.black .progress,
body.black .ui-slider { background-color: #2a2a2a; border: 1px solid #191919; }
body.black .progress .gauge,
body.black .ui-slider .ui-slider-range { background: #151515; }
body.black .ui-slider .ui-slider-handle { background: url(/images/black/progress-handle.png) no-repeat; }
body.black .progress-status { color: #555; }
body.black .pane { background: #2a2a2a; }
body.black .dialog { background: #151515; }
body.black .more { border: 1px solid #222; }
body.black .more:hover { background: #222; }
body.black a { color: #ccc; text-decoration: none; text-shadow: #000 1px 1px 0px; }
body.black a:hover { color: #fff; }
body.black h1, body.black h2, body.black h3 { text-shadow: #000 1px 1px 1px; }
body.black h1 a, body.black h2 a, body.black h3 a { text-shadow: #000 1px 1px 1px; }
body.black .release { background: #2a2a2a; border-top: 1px solid #1d1d1d; }
body.black .release ol.tracks { background: #2f2f2f; color: #777; }
body.black .release ol.tracks li.odd { background: #252525; }
body.black .release ol.tracks li.even { background: #2f2f2f; }
body.black .release ol.tracks li a.playing { background: url(/images/black/playing.png) no-repeat; }
body.black .release ol.tracks li a.loading { background: url(/images/black/loading.gif) no-repeat; }
body.black .release ol.tracks li span.track-artist a { color: #777; }
body.black .years .year { border-top: 1px solid #1d1d1d; }
body.black .years .releases { background: -webkit-gradient(linear, left top, left bottom, from(rgba(34,34,34, .5)), color-stop(0.55, rgba(34,34,34, .01)), to(transparent)); }
body.black .scroll-box-shade { background: -webkit-gradient(linear, right top, left top, from(rgba(42,42,42, 1)), color-stop(0.55, rgba(42,42,42, .01)), to(transparent)); }
body.black .track-love { opacity: 0.5; background: url(/images/love.png) no-repeat 50% 0; text-indent: -9999px; }
body.black .track-love:hover { opacity: 0.5; background-position: 50% -19px; }
body.black .track-love.loved { opacity: 1; background-position: 50% -38px; }
body.black .error { color: #f33; text-shadow: #000 1px 1px 1px; }
body.black .fallback { color: #777; }
