body.white { background: #fff; color: #000; }
body.white .release { background: #eee; }
body.white .release ol.tracks { background: #fff; }
body.white .release ol.tracks li.odd { background: #f0f5fa; }
body.white .release ol.tracks li.even { background: #fff; }

body.black { background: #151515; color: #fff; }
body.black #nav { background: url(/images/black/nav-shade.png) repeat-x; }
body.black .progress { background-color: #2a2a2a; border: 1px solid #191919; }
body.black .progress .gauge { background: #151515; }
body.black .progress-status { color: #555; }
body.black .pane { background: #2a2a2a; }
body.black a { color: #ccc; text-decoration: none; text-shadow: #000 1px 1px 0px; }
body.black a:hover { color: #fff; }
body.black h1, body.black h2, body.black h3 { text-shadow: #000 1px 1px 1px; }
body.black .release { background: #2a2a2a; border-top: 1px solid #1d1d1d; }
body.black .release ol.tracks { background: #2f2f2f; color: #777; }
body.black .release ol.tracks li.odd { background: #252525; }
body.black .release ol.tracks li.even { background: #2f2f2f; }