a { color: #666 !important; }
a:hover { color: #999 !important; }
.inputsubmit { 
  padding: 2px 15px 3px 15px;
  border-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-top-color: #333;
  border-left-color: #333;
  border-bottom-color: #444;
  border-right-color: #444;
  background-color: #151515;
  color: #fff;
  font: 13px/1.5 Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif
  text-align: center;
}

.wallkit_form {
  background: #2a2a2a;
  padding: 20px 10px 12px 20px;
  color: #ccc;
}

.wallkit_post {
  width: 430px;
  border-bottom: 1px solid #2a2a2a;
  color: #555;
}