#root { margin: 0; padding: 0 0 60px 0; position: relative; text-align: left; }

#nav { width: 100%; position: fixed; bottom: 0px; z-index: 80; padding: 8px 0 0 0; font-size: 12px; height: 38px; }
#nav .container_16 { position: relative; }
#nav-playback { position: absolute; left: 0; top: 0; width: 96px; text-align: center; padding: 3px 10px; }
#nav-playback button { float: left; display: block; text-indent: -9999px; width: 32px; height: 32px; border: none; }
#nav-playback button:disabled { opacity: 0.6; background-position-y: 0 !important; }
#nav-play-pause { background: url(/images/button-play-pause.png) no-repeat;  }
#nav-play-pause:hover { background-position: 0 -32px; }
#nav-play-pause:active { background-position: 0 -64px; }
#nav-play-pause.pause { background-position: -32px 0; }
#nav-play-pause.pause:hover { background-position: -32px -32px; }
#nav-play-pause.pause:active { background-position: -32px -64px; }
#nav-prev { background: url(/images/button-next-prev.png) no-repeat 0 0;  }
#nav-prev:hover { background-position: 0 -32px; }
#nav-prev:active { background-position: 0 -64px; }
#nav-next { background: url(/images/button-next-prev.png) no-repeat -32px 0; }
#nav-next:hover { background-position: -32px -32px; }
#nav-next:active { background-position: -32px -64px; }
#nav-progress { position: absolute; left: 200px; top: 0; width: 540px; margin: 13px 0; }
#nav-mute { position: absolute; left: 118px; }
#nav-mute input[type=checkbox] { display: none; }
#nav-mute label { background: url(/images/button-mute.png) no-repeat; width: 20px; height: 38px; display: block; text-indent: -9999px; cursor: pointer; }
#nav-mute label:hover { background-position: 0 -38px; }
#nav-mute label.checked { background-position: 0 -76px; }
#nav-repeat { position: absolute; left: 140px; }
#nav-repeat input[type=checkbox] { display: none; }
#nav-repeat label { background: url(/images/button-repeat.png) no-repeat; width: 20px; height: 38px; display: block; text-indent: -9999px; cursor: pointer; }
#nav-repeat label:hover { background-position: 0 -38px; }
#nav-repeat label.checked { background-position: 0 -76px; }
#nav-shuffle { position: absolute; left: 162px; }
#nav-shuffle input[type=checkbox] { display: none; }
#nav-shuffle label { background: url(/images/button-shuffle.png) no-repeat; width: 20px; height: 38px; display: block; text-indent: -9999px; cursor: pointer; }
#nav-shuffle label:hover { background-position: 0 -38px; }
#nav-shuffle label.checked { background-position: 0 -76px; }
#nav-upload { position: absolute; right: 0; top: 0; width: 92px; margin: 3px 0; }
#nav-upload a { display: block; text-indent: -9999px; background: url(/images/button-upload.png) no-repeat; width: 60px; height: 32px; }
#nav-upload a:hover { background-position: 0 -32px; }
#nav-upload a:active { background-position: 0 -64px; }
#nav-upload .swfupload { float: right; }

#error { width: 100%; position: fixed; top: 0; z-index: 79; padding: 10px 10px; font-size: 12px; background: #800; color: #fff; opacity: 0.7; display: none; cursor: pointer; }

#status { width: 100%; position: fixed; bottom: 38px; z-index: 79; padding: 10px 0; font-size: 12px; background: #000; opacity: 0.7; display: none; }
#status-artist { font-weight: bold; }
#status-track { font-weight: bold; }

#user-menu { margin: 0; font-size: 10px; padding-top: 5px; float: right; }
#user-menu li { float: left; list-style: disc; margin: 0 0 0 10px; padding-right: 14px; }
#user-menu li:first-child { list-style: none !important; }
#user-menu li:last-child { padding: 0; }

#menu { margin: 5px 0 20px 0; }
#menu li { text-align: center; padding-top: 12px; padding-bottom: 12px; }
#menu .first { }
#menu .last { text-align: right; }
#menu .grid_1 a { display: block; padding: 7px 0; font-weight: bold; }

#upload-button { text-align: center; height: 32px; }
#upload-progress { margin: 10px 0 5px 0; }
#upload-info { position: absolute; bottom: 45px; right: -20px; width: 300px; padding: 20px; z-index: 81; display: none; cursor: pointer; }
#upload-info-arrow { width: 14px; height: 12px; position: absolute; bottom: 33px; right: 25px; z-index: 81; display: none; }
#upload-spinner { width: 32px; height: 32px; float: left; display: none; cursor: pointer; }

#release-artwork-upload-button { margin-bottom: 10px; text-align: center; }

#footer { padding: 20px 0; font-size: 11px; }
#globalfooter { padding: 20px 0; font-size: 11px; }
