
body { color: #666; }
a { color: #999; }

#root { padding: 60px 0; }

h1 { border-bottom: 1px solid #999; line-height: 1em; padding-bottom: 20px; font-family: "Letter Gothic Std", "Lucida Console"; }
h2 { font-size: 16px; }
.tracks { border-bottom: 1px solid #999; padding-bottom: 20px; }
.track-title { color: #666; }
.track-artist { color: #888; }
.track-length { font-size: 10px; }

.actions { margin-bottom: 10px; }

.comments { list-style: none; margin: 20px 0 0 0; padding: 0; background: url(/images/comments-top.png) no-repeat 22px 0; padding-top: 5px; width: 250px; font-family: Helvetica, Arial, sans-serif; }
.comments li { background: #555; color: #ccc; padding: 30px 15px 15px 15px; margin: 0 0 2px 0; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.comments li img { position: absolute; top: 10px; left: 10px; }
.comments li .user { font-size: 10px; color: #ddd; text-shadow: none; text-decoration: none; font-weight: bold; position: absolute; top: 15px; left: 15px; }
.comments li .timestamp { font-size: 10px; color: #ddd; position: absolute; top: 15px; right: 15px; border: none; cursor: text; }
.comments li p { margin: 0.5em 0 0 0; text-align: left; font-size: 12px; line-height: 1.2; }
.new_comment { padding: 10px; background: #555; width: 230px; margin: 0 0 2px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.new_comment textarea { background: #777; color: #ddd; padding: 2px; width: 224px; height: 16px; max-height: 400px; line-height: 16px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border: 1px solid #777; }
.new_comment textarea.hint { color: #666; }
.new_comment .submitrow { margin-top: 5px; padding: 0; display: none; }
.new_comment .submitrow button { font-size: 10px; background: #666; color: #ddd; border: 1px solid #777; -webkit-border-radius: 5px; -moz-border-radius: 5px; padding: 2px 5px; }
.comments .fallback { font-size: 10px; background: #2f2f2f; padding: 15px; margin: 0 0 2px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
