@font-face { font-family:GraublauWeb; src:url(/fonts/GraublauWeb.otf) format("opentype") }
@font-face { font-family:GraublauWeb; src:url(/fonts/GraublauWebBold.otf) format("opentype"); font-weight:bold }

body { background: #111; font: 11px/18px "Helvetica Neue", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; color: #333; text-shadow: #fff 1px 1px 1px; }
#root { background: #fff; }
#menu { margin: 0 0 20px 0; border-bottom: 1px solid #eee; }
#menu li { text-align: center; padding-top: 19px; padding-bottom: 19px; }
#menu .first { text-align: left; }
#menu .last { text-align: right; }
#menu a { color: #666; font-size: 12px; margin-right: 15px; }
#menu a:hover { color: #999; }
#menu .first a { font-weight: bold; }
#menu .last a { margin-right: 0; }
#company-footer { padding: 20px 0; font-size: 11px; background: #111; color: #ccc; text-shadow: #000 1px 1px 1px !important; }
#company-footer a { color: #fff; text-shadow: #000 1px 1px 1px !important; }
#company-footer h2, #footer h2 a { text-shadow: #000 1px 1px 1px !important; }
#company-footer h3, #footer h3 a { text-shadow: #000 1px 1px 1px !important; }
#share-footer { padding: 20px 0; font-size: 11px; background: #eee; color: #666; }
hr { border-color: #eee; }
.grey { color: #aaa; }
.small {}
a { color: #09f; text-decoration: none; text-shadow: #eee 1px 1px 0px; transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; }
a:hover { color: #3cf; }
a:focus { outline:none }
h1 { text-shadow: #fff 1px 1px 1px; font: normal normal normal 30px/40px GraublauWeb, Georgia, Times, 'Times New Roman', serif; }
h2 { text-shadow: #fff 1px 1px 1px; font: normal normal normal 20px/20px GraublauWeb, Georgia, Times, 'Times New Roman', serif; }
h3 { text-shadow: #fff 1px 1px 1px; font: normal normal normal 15px/20px GraublauWeb, Georgia, Times, 'Times New Roman', serif; }
h1 a, h2 a, h3 a { text-shadow: #fff 1px 1px 1px; }
h1 em, h2 em, h3 em { text-shadow: #000 0px 0px 1px; }
h1 span, h2 span, h3 span { font-size: 12px; }
.pane { -webkit-box-shadow: 1px 1px 5px #bbb; -moz-box-shadow: 1px 1px 5px #bbb; background: #fafafa url(/images/white/pane.jpg) repeat-x; border: 2px solid #fff; }
.box { -webkit-box-shadow: 1px 1px 5px #aaa; -moz-box-shadow: 1px 1px 5px #aaa; background: #fafafa url(/images/white/pane.png) repeat-x; border: 2px solid #fff; }
blockquote.big-quote .start-quote { color: #3cf; }
blockquote.big-quote .end-quote { color: #3cf; }
pre { background: #222; color: #fff; text-shadow: none; padding: 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; overflow-x: auto; }
.header { background: #eee; padding: 20px 0; margin-bottom: 30px; }
.header h1, .header h3 { margin: 0; }
.color-1 { background: #eee url(/images/noisey-grey.png); }
.color-2 { margin-bottom: 30px; }
.billboard { background: url(/images/billboard-glow.jpg) no-repeat 50% 0; padding: 40px 0 20px 0; height: 440px; }
.fb_share { color: #fff !important; }
.fb_share_no_count { display: block !important; }

#new_invitation_request { background: #f9f9f9; padding: 10px; }
#new_invitation_request h3 { margin-bottom: 10px; }
#new_invitation_request input.hint { color: #ccc; }
#new_invitation_request label.error { display: none !important; }
#invitation_request_email { font-size: 12px; width: 170px; border: 1px solid #ccc; padding: 5px; }
#invitation_request_submit { font-size: 11px; background: #eee; border: 1px solid #ccc; padding: 6px; }

#signup-form input { font-size: 18px; padding: 5px; width: 65%; text-align: center; border: 1px solid #ccc; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
#signup-form input.hint { color: #ccc; }
#signup-form label { display: block; font-size: 16px; color: #999; font-weight: normal; margin: 15px 0 5px 0; }
#signup-form label.error { color: #f66; font-size: 12px; margin: 0; }
#signup-form kbd { display: none; }

a.button { background: #f9f9f9; border: 1px solid #eee; padding: 5px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9)); }
a.button:hover { border-color: #ccc; }
a.button:active { background: #fff; background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#fff)); }
a.button.grey { color: #333; font-weight: bold; }
a.button.disabled { color: #ccc; font-weight: normal; }

.client { margin-top: 30px; }

.tabnav li a { display: block; padding: 1px 10px; font-weight: bold; color: #333; text-shadow: #fff 0px 1px 0px; background: #eee; -webkit-border-radius: 15px; -moz-border-radius: 15px; }
.tabnav li a.current { background: #aaa; color: #111; text-shadow: #ccc 0px 1px 0px; }

.track-title { width: 440px; overflow: hidden; display: block; float: left; overflow: hidden; height: 19px; }
.track-artist a { padding: 0 !important; }
.track-length { width: 50px; display: block; float: left; text-align: right; }
.track-love {  width: 36px; display: block; float:left; padding-left: 0 !important; text-align: center; }

.track-love { opacity: 0.5; background: url(/images/love.png) no-repeat 50% 0; text-indent: -9999px; }
.track-love.loved { opacity: 1; background-position: 50% -38px; }

.release .artist-name { line-height: 12px; }
.release .review { margin-left: 260px; margin-right: 100px; }
.release ol.tracks { margin-left: 260px; margin-right: 100px; background: #f9f9f9; padding: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
.release ol.tracks li { padding: 2px; height: 19px; }
.release ol.tracks li strong { color: #666; }
.release ol.tracks .odd { background: #f6f6f6; }
.release ol.tracks .even {}
.release .meta { margin-left: 260px; margin-right: 100px; }
.release .fb-share { margin-left: 260px; margin-right: 100px; }

ul.releases { list-style: none; }
ul.releases li { margin: 10px 20px 20px 0; float: left; width: 125px; height: 180px; text-align: center; overflow: hidden; }
ul.releases li a { display: block; }
ul.releases li a.title { font-weight: bold; color: #666; }
ul.releases li span.year { display: block; }

.share-buttons { display: none; }

.slideshow { list-style: none; }
.slideshow li { margin: 25px 0 25px 0; padding-bottom: 100px; border-bottom: 1px solid #eee; }
.slideshow li:last-child { margin-bottom: 0; border-bottom: none; }
.slideshow p { margin: 20px auto; width: 600px; }
.slideshow img { -webkit-box-reflect: below -1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.85, rgba(255,255,255, .01)), to(rgba(255,255,255, .15))); }

.sticker { z-index: 99; position: absolute; right: -30px; top: -30px; background: url(/images/sticker.png); color: #fff; text-shadow: none; padding: 20px; font-size: 22px; width: 35px; height: 35px; -webkit-border-radius: 40px; -moz-border-radius: 40px; overflow: hidden; white-space: nowrap; }

.dashboard { -webkit-box-shadow: 1px 1px 5px #bbb; -moz-box-shadow: 1px 1px 5px #bbb; }
.artist img { -webkit-box-shadow: 1px 1px 5px #bbb; -moz-box-shadow: 1px 1px 5px #bbb; }

