body { text-align: center; margin: 50px; font: normal normal 400 1em/1.5em Georgia, serif; text-rendering: optimizelegibility; -webkit-text-size-adjust: none !important; background: #fff; color: #000; }
header { width: 620px; margin: 0 auto; }
header hgroup h1 { margin: 0; background: url(/images/crate-digger.png) 50% 50% no-repeat; width: auto; height: 148px; text-indent: -99999px; }
header hgroup h2 { font-size: 14px; font-weight: normal; text-transform: uppercase; letter-spacing: 0.2em; color: #888; margin: 0; }
section { width: 620px; margin: 0 auto; }
input { -webkit-transition: border 0.1s linear; background-color: transparent; border: 1px solid #ccc; font-size: 14px; height: 18px; line-height: 16px; margin: 0px; outline: 0px; padding: 9px 10px; vertical-align: middle; }
input:hover { border-color: #bba; }
input:active { border-color: #bba; }
input.button { -webkit-font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -webkit-user-select: none; -webkit-user-select: none; background-color: #c2c3c3; border-radius: 3px; color: white; cursor: pointer; display: inline-block; font-family: Georgia, serif; font-size: 14px; padding: 5px 10px; text-align: center; text-decoration: none; text-transform: uppercase; height: 36px; margin: 1px 0px 0px 15px; overflow: visible; padding: 0px 14px; text-align: center; width: auto; }
input.button:hover { background-color: #e2e3e3; }
input.button:active { background-color: #929393; }
dl { margin-left: 400px; max-width: 620px; min-width: 400px; }
dt { font-size: 14px; color: #999; }
dd { margin-left: 0; }
ul { list-style-type: square; }
li { font-size: 13px; }
a { color: black; font-weight: bold; text-decoration: none;  -webkit-transition: color 0.15s linear; }
a:hover { color: #ccc; }
p { font-size: 16px; max-width: 620px; min-width: 400px; }
small { color: #999; }
small a { color: #999; }
blockquote { background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAQCAYAAAD52jQlAAAACXBIWXMAAAsTAAALEwEAmpwYAAABnklEQVQ4EZWToZLCQAyGw85NMdR0MK2hCtUqFCgUmPICfTsEb1CFAoVCFQOKGjCAAQOG65+77Cy0ywwR3W3ybTbZJI1nKWSR6/VK6/WaDocDpWlqof7Up9OJVqsVua5LPzYyz3N2+Hg8GIHjIAgq+P1+Z26z2bDteDxWnQKaz+cEI6TValGv16t1iOjA3m43Zj3Po8Fg8OoUUJZlJNFFUcQOm80mHzI/2+2W0wXrOA5zcRwzotM3HQIaDocUhqHpR+/3+z0tl0v+Ryaj0Yja7ba2s1NJWSJMkuQF0nS5weWLxYJVuHwymXBxTEbhB5C8S7/ftzoUVi5HhKj2uyhUtSgK1iMVeZd3EP94x8vlwibf92uLB6Pa7XYM4WN7QwHQZiKfLm/MZrOnpC4HsCIS8ynw7tPp1ET0vtvtMitdouocgkafYkJEzuezbCsrsjVZLlSF+lfIANjsph4jLfLRqUDfrgq9ZpNOp6NNda2jjeUGNRBRtorjMsyxCJyaB0WPFTNvdoNChVE9U9CvmKr36NDsZvQ4g4vG4zFJ5aH7BYMAsaH2qs0LAAAAAElFTkSuQmCC) no-repeat 0px 0px; background-size: 1.3125em 1em; padding: 0px 0px 0px 2.0625em; max-width: 548px; min-width: 328px; }
aside { margin-top:15px; font-size: 16px; float: left; width: 368px; }
aside p { margin-left: 0; font: normal normal normal 75%/1.5em arial, sans-serif; margin: 0 0 20px 0; min-width: 0; max-width: 9999; }
dfn { font-style: italic; }
.hyphenate { text-align: justify; }
