h1 span, h2 span { font-weight: normal; font-size: 12px; }

.pane { padding: 10px 0; -webkit-border-radius: 5px; }
.dialog { padding: 20px; }

.progress, .ui-slider { -webkit-border-radius: 5px; background: url(/images/progress-shade.png) repeat-x; position: relative; overflow: hidden; }
.progress .gauge, .ui-slider .ui-slider-range { height: 10px; width: 0px; }
.ui-slider .ui-slider-handle { background: #fff; height: 10px; width: 10px; position: absolute; top: 0; left: 0; }
.ui-slider-disabled .ui-slider-handle { opacity: 0.5; cursor: default; }
.progress-status { font-size: 10px; text-align: center; }

.horizontal-tabs { list-style: none; margin: 0; }
.horizontal-tabs li { margin: 0; float: left; padding: 12px 24px; }

.more { display: block; text-align: center; padding: 10px; margin: 0 10px; text-transform: lowercase; -webkit-border-radius: 5px; }

.field { margin: 10px 0; }
.submit-row { margin: 20px 0; }

.artists { padding: 20px 30px; }
.artist { list-style: none; height: 200px; margin: 0 10px; text-align: center; }
.artist img { margin: 10px 0; -webkit-border-radius: 10px; -webkit-box-shadow: 1px 1px 5px #111; }
.artist a.name { display: block; font-weight: bold; }
.artist span.meta { display: block; font-size: 10px; }

.labels { padding: 20px 30px; }
.label { list-style: none; height: 200px; margin: 0 10px; text-align: center; }
.label img { margin: 10px 0; -webkit-border-radius: 10px; -webkit-box-shadow: 1px 1px 5px #111; }
.label a.name { display: block; font-weight: bold; }
.label span.meta { display: block; font-size: 10px; }

.release { background: #eee; width: 800px; margin: 0; }
.release .info { padding: 10px; width: 150px; text-align: center; float: left; }
.release img { margin: 10px 0; -webkit-box-reflect: below -1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.55, rgba(255,255,255, .01)), to(rgba(255,255,255, .15))); }
.release h2 { margin: 0; font-size: 12px; }
.release h3 { font-size: 10px; font-weight: normal; }

.release ol.tracks { width: 630px; float: left; }
.release ol.tracks li { padding: 2px; }
.release ol.tracks li a { padding-left: 19px; }

.track-title { width: 500px; overflow: hidden; display: block; float: left; }
.track-length { width: 50px; display: block; float: left; text-align: right; }
.track-love {  width:46px; display: block; float:left; padding-left: 0 !important; text-align: center; }

.years .releases li { list-style: none; margin: 0; float: left; line-height: 0; }
.years h1 span { font-size: 10px; }
