<div class="container_12 clearfix">
  <div class="grid_8">
    <h2>FAQ</h2>
    <div class="grid_4 alpha">
      <h3>Is my precious music safe on Bitspace?</h3>
      <p>We take very good care of your music here at Bitspace. We're like the
         nice friend that you pay to feed your Tamagotchi while you'r away doing
         important stuff.</p>
      <p>All files are stored at least three times in at least two different
         geographically separated datacenters. So if one is crushed by Godzilla,
         the other one should still be up and running.</p>
      <p>We have very rigorous security and data backup processes. We won't lose
         a bit. Promise!</p>
    
      <h3>Can I really use Bitspace from anywhere?</h3>
      <p>Yep! Bitspace is available worldwide. It's the same experience no
        matter where you might live at the moment. We use a professional
        Content Delivery Network (CDN) with edge locations in the US, EU and
        Asia to stream the music to you. That means your songs load just as fast
        from Tokyo or Hong Kong as from Stockholm or New York.</p>
      
      <h3>Does it Scrobble&trade;?</h3>
      <p>Yes, we are fully integrated with
         <strong>Last.fm</strong>.</p>
    
      <h3>How can I get Bitspace?</h3>
      <p>You <%= link_to('sign up', price_path) %> for a <strong>Basic</strong>, <strong>Standard</strong> or
         <strong>Premium</strong> account. All three are free for the first 30 days
         and you can of course choose to end your subscription at any time.</p>
    
      <h3>Do I have to listen to or look at ads?</h3>
      <p>No, we will never ever show banners or make you listen to ads between
         tracks on Bitspace. Not even on the free plan.</p>

    </div>
    <div class="grid_4 omega">
      <h3>What are the system requirements?</h3>
      <p>Right now the only thing you need is a Webkit based browser like
         <strong>Apple Safari</strong>
         or <strong>Google Chrome</strong>
         (or <strong>Google Chrome Frame</strong>
         in IE).</p>
    
     <h3>Why not Firefox?</h3>
     <p>Firefox does not support playing MP3 files using the HTML5 audio-tag,
        only Ogg Vorbis files. We are working on a fix.</p>
    
      <h3>Do I have to use Bitspace in my browser?</h3>
      <p>No, we currently have an official desktop client for OS X that can be 
        downloaded from the <%= link_to('download page', download_path) %>.</p>
    
      <h3>What about mobile devices?</h3>
      <p>We're working on it.</p>
    
      <h3>How does the 30-day free trial work?</h3>
      <p>If you cancel a paying plan within 30 days of signing up you won’t be
      charged a thing. If you do choose to cancel your account in the future you
      will never be charged again, but you are responsible for charges already
      incurred up until your cancellation. Refunds can not be issued after your
      initial 30 day trial and we don’t prorate for partial months.</p>

      <h3>Do I get a 30-day free trial if I upgrade?</h3>
      <p>If you upgrade from a free account to a pay account you are not
      eligible for the 30-day free trial. The 30-day free trial on paying plans
      only applies if you sign up for a paying plan now.</p>
    </div>
    
    <hr />
  </div>
  
  <div class="grid_4">
    <h2>Help / Support</h2>
    <h3><%= mail_to('support@bitspace.se', 'I have a question concerning my subscription →', :subject => 'Subscription problems', :encode => 'javascript') %></h3>
    <h3><a href="http://getsatisfaction.com/bitspace">I have feedback or want to report a bug →</a></h3>
    
    <div class="box">
    <div id='gsfn_list_widget'>
    <a href="http://getsatisfaction.com/bitspace" class="widget_title">Active customer service discussions in Bitspace</a>
    <div id='gsfn_content'>Loading...</div>
    </div>
    </div>

    <script src="http://getsatisfaction.com/bitspace/widgets/javascripts/4460f9fd1c/widgets.js" type="text/javascript"></script>
    <script src="http://getsatisfaction.com/bitspace/topics.widget?callback=gsfnTopicsCallback&amp;limit=5&amp;sort=last_active_at" type="text/javascript"></script>
    
    <div class="aligncenter" style="margin-top:20px">
    <a href="http://getsatisfaction.com/bitspace"><img alt="Badge_get_help" src="http://getsatisfaction.com/images/badges/badge_get_help.png" /></a>
    </div>
  </div>
</div>
