<div class="container_12 clearfix">
  <div class="grid_4">
    <h3>Please help me understand! What is Bitspace?</h3>
    <p>Bitspace is a convenient and inexpensive way to store and listen to
       your music collection.</p>
       
    <h3>Tell me more...</h3>
    <p>You know that harddrive you have in your closet &ndash; filled with
       music you never listen to &ndash; simply because you can't be bothered
       to to take it out and look through it? Finding and experiencing music
       should be instant.</p>
    <p>Starting to get frustrated with an overloaded iTunes library or an
       empty Spotify playlist staring back at you? Yeah, we too. That's why
       we created Bitspace. We believe that music should be easy, beautiful
       and always available.</p>
    <p>That feeling of looking through a box of vinyls in a record shop, that
       special smell and the huge artwork. Or the feeling of downloading that
       obscure bootleg you have been looking for for months. That's what we
       are aiming at recreating.</p>
    <p>We are dead serious about music.</p>
    
    <h3>Does it Scrobble&trade;?</h3>
    <p>Yes, we are fully integrated with <a href="http://last.fm/" class="external">Last.fm</a>.</p>
    
    <h3>Can I share my music with my friends?</h3>
    <p>Yes, if you want you can print your music collection, tie it around a kitten and send it out in the world. Make sure We are also fully integrated with <a href="http://www.spotify.com/" class="external">Spotify</a>.</p>
  </div>
  <div class="grid_4">
    <h3>How can I get Bitspace?</h3>
    <p>Either you get invited and can start out with a free account, or you
       <%= link_to('sign up', price_path) %> for a <strong>Premium</strong> or
       <strong>Unlimited</strong> account. Both are free for the first 30 days
       and you are of course free to end your subscription at any time.</p>
    
    <h3>How do I use Bitspace?</h3>
    <p>You login and upload your music. Then you listen to it.</h3>
    
    <h3>Do I have to listen to or look at ads?</h3>
    <p>No, we will never ever allow advertising on Bitspace.</p>
    
    <h3>Can I use Bitspace just like I use iTunes or Spotify?</h3>
    <p>Yes. Right now the only thing you need is a Webkit based browser like
       <a href="http://www.apple.com/safari/download/" class="external">Apple Safari</a>
       and <a href="http://www.google.com/chrome" class="external">Google Chrome</a>
       (or <a href="http://www.google.com/chromeframe" class="external">Google Chrome Frame</a>
       in IE). The listening experience is exactly the same.</p>
    
    <h3>Do I have to use Bitspace in my browser?</h3>
    <p>We are working on a desktop client, but it ain't finished yet.
       Meanwhile, if you want a more desktop like experience, we recommend
       that you try out <a href="http://fluidapp.com/" class="external">
       Fluid</a> (on OS X).</p>
  </div>
  <div class="grid_4">
    <h3>Is there an iPhone app?</h3>
    <p>We're working on it. It's going to be awesome. It will blow your pants
       away. That's all we can say.</p>
    
    <h3>Is my precious music safe on Bitspace?</h3>
    <p>We take very good care of your music here at Bitspace. We're like the
       nice friend that you pay to feed your Tamagotchi while you'r away doing
       important stuff.</p>
    <p>All files are stored at least three times in at least two different
       geographically separated datacenters. So if one is crushed by Godzilla,
       the other one should still be up and running.</p>
    <p>We have very rigorous security and data backup processes. We won't lose
       a bit. Promise!</p>
    
    <h3>Can I really use Bitspace from anywhere?</h3>
    <p>Yep! Bitspace is available worldwide. It's the same experience no
      matter where you might live at the moment. We use a professional
      Content Delivery Network (CDN) with edge locations in the US, EU and
      Asia to stream the music to you. That means your songs load just as fast
      from Tokyo or Hong Kong as from Stockholm or New York.</p>
  </div>
</div>

<div class="container_12 clearfix pane">
  <div class="grid_4">
    <h3><%= mail_to('support@bitspace.se', 'I have a question concerning my subscription →', :subject => 'Subscription problems', :encode => 'javascript') %></h3>
  </div>
  <div class="grid_4">
    <h3><a href="http://getsatisfaction.com/bitspace">I have feedback or want to report a bug →</a></h3>
  </div>
</div>