<% if current_user.nil? %>
<div class="container_16 clearfix">
  <div class="grid_11">
    <% link_to(tour_path) do %>
    <img src="/images/billboard.png" width="640" height="440" alt="1 GB free!" />
    <% end %>
  </div>
  <div class="grid_5" style="padding-top: 100px; line-height: normal;">
    <h1>No One Puts Music<br /> In A Corner.</h1>
    <h3>Bitspace is <em>a better way to store and listen to music</em>.
    We believe that music should be easy, beautiful and 
    available. Simply upload your collection and enjoy 
    it everyday and from anywhere.</h3>
    <h2><%= link_to('Take a look inside ➔', tour_path) %></h2>
  </div>
</div>
<% end %>