<div class="color-1">
  <div class="container_16 clearfix">
    <div class="grid_11">
      <% link_to(tour_path) do %>
      <p><img src="/images/billboard.png" width="640" height="440" alt="1 GB free!" /></p>
      <% end %>
    </div>
    <div class="grid_5" style="padding-top: 80px; line-height: normal;">
      <h1>No One Puts Music<br /> In A Corner.</h1>
      <h3>Bitspace is <em>a better way to store and listen to music</em>.
      Simply upload your collection and enjoy 
      it everyday and from anywhere.</h3>
      <hr />
      <% form_for InvitationRequest.new do |f| %>
        <h3>Subscribe for beta invite...</h3>
        <%= f.text_field :email, :class => 'required email', :hint => 'Enter your email address' %>
        <%= f.submit 'Subscribe' %>
        <%=h flash[:notice] %>
      <% end %>
    </div>
  </div>
</div>
<hr />
<div class="color-2">
  <div class="container_16 clearfix">
    <div class="grid_4">
      <h2>Backup your<br />music collection</h2>
      <p><strong>External harddrives are slow, clunky, loud, ugly,
        inconvenient and tend to crash when you least expect it.</strong>
        Bitspace is nothing like a harddrive. It's beautiful, safe and just
        works. Easily and securely backup music that you have bought in
        your favorite online digital music store. That way you don't have
        to buy all your lost music again when your harddrive crashes.</p>
    </div>
    <div class="grid_4">
      <h2>A better way to<br />organize music</h2>
      <p><strong>Tired of trying to keep your digital music library organized?
         Can't find the music you want when you need it? Or just want a good
         overview when you don't know what you want to listen to?</strong> We help you
         out by organizing the music for you. We make sure your meta data is
         correct and kept up to date, and we generate views
         that help you find music in a smart way.
    </div>
    <div class="grid_4">
      <h2>Always available<br />in the cloud</h2>
      <p><strong>Want to access your music from anywhere?</strong>
         Bitspace works just as well from your work computer as from your 
         iPhone or from an internet café in Thailand. There is no need for
         slow synchronizations between computers. You always have full
         access to all your favorite music, without worries.</p>
    </div>
    <div class="grid_4">
      <h2>HTML5 &ndash; for a better<br />and more useful web</h2>
      <p><strong>We use the latest web technologies in order to bring you the best
        possible product.</strong> With HTML5 we can utilize the native audio
        playback support in modern web browsers like Safari and Google Chrome.
        No need for a bug ridden Flash Player that crashes your browser after
        an hour. Bitspace can import and play pretty much all audio file formats
        in common use, like MP3, MP4, OGG, WMA and Flac.</p> 
    </div>
  </div>
</div>