
<header>
  <hgroup>
    <h2>Your music in the cloud &ndash; est. 2011</h2>
    <h1>Crate Digger</h1>
  </hgroup>
</header>

<section>
  <p>
    The lustre of dark red, glossed silk, a woman who has a drawn forehead but
    beautiful hair, an ugly person with an agreeable nature, the sound of a
    waterfall.<br/>
    <em>Things that recall the past, but serve no useful function.</em>
  </p>
  <form action="/guests" method="post" id="new_guest">
    <input type="text" name="guest[email]" id="guest_email" size="40" />
    <input type="submit" value="Keep me posted" class="button" />
  </form>
</section>
