<div class="container_16 clearfix">
  <div class="grid_10 prefix_3 suffix_3">
    <h1>Terms and Conditions</h1>

    <p>YOU UNDERSTAND THAT BY SIGNING UP TO ANY ACCOUNT ON THIS SITE, YOUR
    ACCOUNT YOU ARE SIGNING UP WITH WILL BE BOUND BY THESE TERMS. IF YOU DO
    NOT ACCEPT THESE TERMS OF SERVICE IN THEIR ENTIRETY, YOU MAY NOT ACCESS OR
    USE THE SITE OR SERVICES.</p>

    <h2>Accounts</h2>

    <p>Bitspace provides a few different account types. Bitspace reserves the
    right, at any time, to change or impose fees for access to and use of the
    Site, Content, Files and/or Services.</p>

    <h2>Free account (Bitspace Free)</h2>

    <p>Bitspace reserves the right to terminate Free Accounts at any time, with
    or without notice. We also reserve the right to delete any or all files
    from your account at any time without notice. Bitspace may at any time and
    without notice change maximum storage space for the Free account.</p>

    <h2>Paid accounts (Bitspace Basic, Bitspace Standard, Bitspace Premium, etc.)</h2>

    <p>Bitspace will automatically charge your credit card at a monthly basis. If
    Bitspace are unable to process your transaction using the credit card
    information provided it will automatically try to charge your card later.
    If Bitspace can't balance your account within 30 days, Bitspace reserves
    the right to revoke access to your account and files and/or delete any or
    all files without notice. Bitspace may at any time and without notice
    change the maximum storage space for the Paid accounts.</p>

    <h2>Billing</h2>

    <p>The fees for your Paid Account will be billed from the date you elect, or
    convert to, a Paid Account and on each monthly renewal thereafter unless
    and until you cancel your account. If a automatic transaction can't be
    made at the monthly renewal, Bitspace reserves the right to at any time
    try to charge your credit card again or charge it double the following
    month.</p>

    <p>Bitspace may change the fees and charges in effect, or add new fees and
    charges from time to time, but we will give you advance notice of these
    changes by email. If you want to use a different credit card or if there
    is a change in your credit card validity or expiration date, you may edit
    your information at PayPal.</p>
    
    <p>If your credit card reaches its expiration date, your continued use of
    Bitspace constitutes your authorization for us to continue billing that
    credit card and you remain responsible for any uncollected amounts. It is
    your responsibility to keep your contact information and payment
    information current and updated.</p>

    <h2>Cancelling</h2>

    <p>Your Bitspace Paid Account will continue in effect unless and until you
    cancel your Paid Account or we terminate it. You must cancel your Paid
    Account before it renews each month in order to avoid billing of the next
    month's or year's fees to your credit card. Bitspace Paid Accounts are
    prepaid and are non-refundable. BITSPACE DOES NOT PROVIDE REFUNDS OR
    CREDITS FOR ANY PARTIAL MONTHS. You may cancel your Bitspace Paid Account
    at anytime, and cancellation will be effective immediately. Should you
    elect to cancel your Paid Account, please note that you will not be issued
    a refund for the most recently (or any previously) charged monthly fees.</p>

    <h2>Files and Content</h2>

    <p>You are the owner of the Files you upload to your account, and are solely
    responsible for your conduct and the content of Your Files. Bitspace does
    not claim any ownership rights in Your Files. You acknowledge that
    Bitspace does not have any obligation to monitor the Files that are
    uploaded, posted, submitted, linked to or otherwise transmitted using the
    Site or Services, for any purpose and, as a result, is not responsible for
    the accuracy, completeness, appropriateness, legality or applicability of
    the Files.</p>

    <h2>Your responsibilities</h2>

    <p>You represent and warrant that you own or have the necessary licenses,
    rights, consents and permissions for the Files you upload. You should be
    aware that Files may be protected by intellectual property rights which
    are owned by the user whose account that File belong to.</p>

    <p>You will be responsible for all costs and expenses that you may incur with
    respect to backing up, and restoring and/or recreating any data that is
    lost or corrupted as a result of your use of the Site and/or Services.</p>

    <h2>Account Security</h2>

    <p>You are responsible for safeguarding the password that you use to access
    the Site and Services. You agree not to disclose your password to any
    third party. You agree to take sole responsibility for any activities or
    actions under your password, whether or not you have authorized such
    activities or actions. You will immediately notify Bitspace of any
    unauthorized use of your password. You acknowledge that if you wish to
    protect your transmission of data and/or files to Bitspace, it is your
    responsibility to use a secure encrypted connection to communicate with
    and/or utilize the Site and Services.</p>

    <h2>Feedback</h2>

    <p>All feedback, comments, and suggestions that you provide in any form will
    be exclusive property of Bitspace.</p>

    <h2>Links</h2>

    <p>The Site may contain links to third-party websites or resources. You
    acknowledge and agree that Bitspace is not responsible or liable for: (i)
    the availability or accuracy of such websites or resources; or (ii) the
    content, products, or services on or available from such websites or
    resources. Links to such websites or resources do not imply any
    endorsement by Bitspace of such websites or resources or the content,
    products, or services available from such websites or resources. You
    acknowledge sole responsibility for and assume all risk arising from your
    use of any such websites or resources.</p>

    <h2>Termination</h2>

    <p>If you violate any of these Terms of Service, your permission to use the
    Site, Content, Files and Services will automatically terminate. Bitspace
    reserves the right to revoke your access to and use of the Site, Content,
    Files and Services at any time, with or without cause, and with or without
    notice. Bitspace also reserves the right to cease providing or to change
    the Site, Content, Files or Services at any time and without notice.</p>

    <p>Bitspace reserves the right to terminate Free Accounts at any time, with
    or without notice. Without limiting the generality of the foregoing, and
    without further notice, Bitspace may choose to delete and/or reduce: (i)
    any or all of Your Files if your Free Account is inactive for 90 days.</p>

    <h2>Use at own risk</h2>

    <p>Your access to and use of the Site, Content, Files and Services is at your
    own risk. Bitspace will have no responsibility for any harm to your
    computer system, loss or corruption of data, or other harm that results
    from your access to or use of the Site, Content, Files or Services.</p>
  </div>
</div>