<div class="reflected-container">

  <div class="box">
    <h1>Woo hoo!</h1>
    <p>Your password has been changed!<br />
       Please do try to remember it this time. :)</p>
    
    <% form_tag player_path(:trailing_slash => true), :method => 'get' do %>
      <div class="submit-row">
        <%= submit_tag 'Return to Bitspace Player' %>
      </div>
    <% end %>
  </div>

</div>