<div class="container_16 clearfix">
  <div class="grid_8 prefix_4 suffix_4 aligncenter">
    <div class="box" style="margin-top:30px;">
      <h1>Sorry, your browser is currently not supported...</h1>
      <p>Because of technical limitations we currently do not support any version
        of the <em>Microsoft Internet Explorer</em> browser. We suggest you try using <a href="http://www.apple.com/safari/" class="external">Apple Safari</a>,
        <a href="http://www.google.com/chrome" class="external">Google Chrome</a> or <a href="http://www.mozilla.com/firefox/" class="external">Mozilla Firefox</a> instead. If you still want to use 
        Internet Explorer you can download and install the <cite>Google Chrome Frame</cite> plug-in
        that will enable you to use the Google Chrome rendering engine through
        the Internet Explorer user interface.</p>
      
      <p style="font-size:18px;"><a href="http://www.google.com/chromeframe">Download and install <em>Google Chrome Frame</em> ☞</a></p>
    </div>
  </div>
</div>