<div class="container_16 clearfix">
  <div class="grid_18 prefix_4 suffix_4 aligncenter">
    <h1>Thank you for signing up!</h1>
    <p>
      Your payment succeeded and a receipt with further instructions has been
      sent to your email address.
    </p>
    <p class="small grey">
      Your subscription is linked to the email address you entered on the
      PayPal payment page. Before you can start using your account we need to
      confirm your email address. We have sent you an email with a link.
      Click on the link in the email and everything will be A-OK.
    </p>
  </div>
</div>