<div class="container_16 clearfix">
  <div class="grid_18 prefix_4 suffix_4 aligncenter">
    <h1>Thank you for upgrading!</h1>
    <h3>
      Your payment succeeded and your account will be upgraded
      as soon as we get a notification of the transaction from PayPal, which
      should only take a minute or two.
    </h3>
    <p class="small grey">
      If your account is not automatically upgraded within an hour, please
      contact us at <%= mail_to('support@sutajio.se') %> and we will try
      to help you.
    </p>
  </div>
</div>