<script>
var API_HOST = '<%= ENV['API_HOST'] %>';

$(function(){
  window.releases = new Releases(<%= @user.releases.find(:all, :include => [:artist, :tracks]).to_json %>);
  window.app = new AppView().render();
  window.controller = new Controller();
  window.player = new Player({
    playPause: $('#play-pause'),
    next: $('#next'),
    prev: $('#prev'),
    progress: $('#progress'),
    shuffle: $('#shuffle-button'),
    repeat: $('#repeat-button')
  });
  Backbone.history.start();
});
</script>

<script type="text/template" id="release-template">
  <div class="album-info clearfix">
    <img src="{{artwork}}" />
    <button class="play">Play</button>
    <h1>{{title}}</h1>
    <h2><a href="/artists/{{artist}}">{{artist}}</a></h2>
    {% if (year) { %}
    <p>Released {{year}}</p>
    {% } %}
    <div class="share">
      <iframe scrolling="no" frameborder="0" style="width: 100px; height: 21px;" src="http://platform.twitter.com/widgets/tweet_button.html?url=http://music.desitouch.com{{url}}" allowtransparency="true"></iframe>
      <iframe scrolling="no" frameborder="0" allowtransparency="true" style="border: medium none; overflow: hidden; width: 100px; height: 21px;" src="http://www.facebook.com/plugins/like.php?href=http://music.desitouch.com{{url}}&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;colorscheme=light&amp;height=21"></iframe>
    </div>
  </div>
  <div class="album-tracks">
    <h3>Tracks</h3>
    <ol class="clearfix"></ol>
  </div>
</script>

<script type="text/template" id="release-item-template">
  <a href="/releases/{{id}}">
    <img src="{{artwork}}" />
    <h4>{{title}}</h4>
    <p>{{year}}</p>
  </a>
</script>

<script type="text/template" id="track-item-template">
  <span class="tr">{{title}}</span>
  <span class="ti">{{secondsToTime(length)}}</span>
  <span class="dl"><span style="width:{{play_count}}%">{{play_count}} total plays</span></span>
</script>

<script type="text/template" id="releases-list-template">
  <li>hello world</li>
</script>

<script type="text/template" id="search-results-template">
  <ul>
    {% _.each(results, function(item) { %}
      <li>{{ item.title || item.name }}</li>
    {% }); %}
  </ul>
</script>

<script type="text/template" id="app-template">
  <header class="wrapper">
    <div id="loading" style="display:none;"></div>
  </header>

  <section id="content" class="wrapper clearfix"></section>

  <nav id="player-nav">
    <div id="playback">
      <button rel="prev" id="prev" disabled="disabled">&larr; Prev</button>
      <button rel="play-pause" id="play-pause" disabled="disabled">Play/Pause</button>
      <button rel="next" id="next" disabled="disabled">Next &rarr;</button>
    </div>
    <div id="progress"></div>
    <div id="repeat">
      <input type="checkbox" name="repeat" id="repeat-button" />
      <label for="repeat-button">Repeat</label>
    </div>
    <div id="shuffle">
      <input type="checkbox" name="shuffle" id="shuffle-button" />
      <label for="shuffle-button">Shuffle</label>
    </div>
  </nav>
</script>
