h1 span, h2 span { font-weight: normal; font-size: 12px; }

sup { font-size: smaller; vertical-align: super; }
label { font-weight: bold; }
label.error { display: block; color: #f66; font-size: 12px; margin: 0; }
abbr, acronym, .help { cursor: help; border-bottom: 1px dotted #555; }

blockquote.big-quote { font-size: 30px; font-family: Georgia, Times, serif; font-style: italic; line-height: 40px; position: relative; margin-top: 30px; }
blockquote.big-quote .start-quote { font-size: 90px; font-family: Arial; line-height: 0; position: absolute; top: 0.5em; left: -0.1em; }
blockquote.big-quote .end-quote { font-size: 90px; font-family: Arial; line-height: 0; position: absolute; top: 0.5em; right: 0em; }

.pane { padding: 10px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: 1px 1px 5px #000; -moz-box-shadow: 1px 1px 5px #000; }
.box { padding: 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: 1px 1px 5px #000; -moz-box-shadow: 1px 1px 5px #000; }
.dialog { padding: 20px; }

.progress, .ui-slider { -webkit-border-radius: 5px; background: url(/images/progress-shade.png) repeat-x; position: relative; overflow: hidden; }
.progress .gauge, .ui-slider .ui-slider-range { height: 10px; width: 0px; }
.ui-slider .ui-slider-handle { background: #fff; height: 10px; width: 10px; position: absolute; top: 0; left: 0; }
.ui-slider-disabled .ui-slider-handle { opacity: 0.5; cursor: default; }
.progress-status { font-size: 10px; text-align: center; }

.more { display: block; text-align: center; padding: 10px; margin: 0 10px; text-transform: lowercase; -webkit-border-radius: 5px; }

.field { margin: 10px 0; }
.submit-row { margin: 20px 0; }

.aligncenter { text-align: center; }
.alignright { text-align: right; }
.alignleft { text-align: left; }

.scroll-box { overflow: hidden; position: relative; }
.scroll-box-shade { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block; text-indent: -9999px; }

.status dd { font-size: 24px; margin: 10px 0; white-space: nowrap; }

.external { padding-right: 15px; background: url(/images/external.gif) no-repeat 100% 49%; white-space: nowrap; zoom: 1; }

.fallback { text-align: center; font-style: italic; }

.time { background: url(/images/clock.png) no-repeat; padding-left: 16px; padding-right: 16px; }

.save-elsewhere { margin: 20px 0 0 0; }
.save-elsewhere a { margin: 0 10px 0 0; padding: 5px 0; }

.cover-art { position: relative; }
.cover-art .info-overlay { padding: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: #000; opacity: 0; position: absolute; top: 40%; left: 0; width: 100%; text-align: center; transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; }
.cover-art:hover .info-overlay { opacity: 0.8; }

.tipsy { padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat; background-image: url(/images/tipsy.gif); }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: #000; color: #fff; text-shadow: none; max-width: 200px; text-align: center; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }

.tabnav { list-style: none; height: 25px; margin-top: 10px; margin-left: 10px; }
.tabnav li { margin: 0; float: left; margin-right: 10px; }
.tabnav li a { display: block; padding: 1px 10px; font-weight: bold; color: #111; text-shadow: #666 0px 1px 0px; background: #555; -webkit-border-radius: 15px; -moz-border-radius: 15px; }
.tabnav li a:hover { background: #666; text-shadow: #777 0px 1px 0px; }
.tabnav li a.current { background: #999 -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#888)); color: #111; text-shadow: #bbb 0px 1px 0px; }

.ac_results { background-color: #000; -webkit-border-radius: 10px; -moz-border-radius: 10px; -webkit-box-shadow: 0px 0px 25px #000; opacity: 0.9; width: 250px; padding: 0; margin: 5px 0 0 0; list-style: none; position: absolute; z-index: 10000; display: none; }
.ac_results li { margin: 0; padding: 10px; white-space: nowrap; text-align: left; }
.ac_results li:first-child { -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; }
.ac_results li:last-child { -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px; }
.ac_results li.ac_over { cursor: pointer; background-color: #111; }
.ac_results li a { display: block; overflow: hidden; position: relative; }
.ac_results li img { float: left; margin-right: 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
.ac_results li .artist-name { display: block; font-size: 10px; }
.ac_results li .release-title { display: block; }
.ac_results li .limited-space-fade { background: url(/images/limited-space-fade.png) repeat-y 100% 0%; position: absolute; top: 0; right: 0; width: 20px; height: 100%; }
.ac_results li.ac_over .limited-space-fade { background-image: url(/images/limited-space-fade-hover.png); }
