<div class="box" id="new-release-box">
  <% if flash[:alert].present? %>
    <div class="bubble bubble-south">
      <div class="bubble-inner">
        <%=h flash[:alert] %>
      </div>
    </div>
  <% end %>
  
  <% if flash[:notice].present? %>
    <div class="bubble bubble-south">
      <div class="bubble-inner">
        <%=h flash[:notice] %>
      </div>
    </div>
  <% end %>
  
  <h1>Add tracks</h1>
  
  <% form_for @release, :html => { :id => 'add-tracks-form' } do |f| %>
    
    <div class="field">
      <label>Please, select files to upload...</label>
      <%= render :partial => 'uploads/form' %>
    </div>
    <div class="submit-row">
      <p>
        <input type="submit" value="Save changes" />
      </p>
      <p class="small grey">
        By clicking on 'Save changes' above,<br/>
        you confirm that you accept the <%= link_to('Terms of Service', '/terms') %>.
      </p>
    </div>
  <% end %>
</div>