<div class="container_16 clearfix">
  <div class="grid_8 prefix_4 suffix_4">
    <div class="pane">
      <% form_for([@artist, @release], :html => { :multipart => true }) do |f| %>
        <%= f.file_field :artwork %>
        <%= submit_tag 'Upload' %>
      <% end %>
    </div>
  </div>
</div>