<div class="container_16 clearfix pane" style="padding:0;">
  <div class="releases clearfix infinite-scroll">
    <div id="infscr-page-1" class="infscr-pages">
      <% @releases.each do |release| %>
      <div>
        <% link_to([release.artist, release], :class => 'cover-art', :target => '_self', :style => 'display:block; float:left;') do %>
          <%= image_tag(release.artwork.url(:large, false), :size => '240x240', :alt => 'Cover art') %>
          <span class="info-overlay">
            <%=h release.artist.name %><br />
            <strong><%=h release.title %></strong>
          </span>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <%= more(@releases) %>
</div>