<div class="container_16 clearfix">
  <div class="grid_16">
    <h1>
      <span><%= link_to(h(@artist.name), @artist, :target => '_self') %></span><br />
      <%= link_to(h(@release.title), [@artist, @release], :target => '_self') %>
      <% if @release.year.present? %>
      <span class="year">(<%= link_to(@release.year, year_path(@release.year), :target => '_self') %>)</span>
      <% end %>
    </h1>
  </div>
</div>
<div class="container_16 clearfix pane">
  <div class="grid_16">
    <ul class="releases">
      <%= render :partial => 'release', :object => @release %>
    </ul>
  </div>
</div>