<% benchmark 'Playlist info', :silence => true do %>
  <div class="info">
    <% tracks.map(&:release).uniq[0..(tracks.size/7.0).to_i].each do |release| %>
      <% if release.artwork.file? %>
      <%= link_to(image_tag(release.artwork.url(:small, false), :size => '125x125', :alt => 'Cover art', :style => 'margin:11px 0; -webkit-box-reflect:none;'), release_path(release), :target => '_self') %>
      <% end %>
    <% end %>
  </div>
<% end %>