<div class="container_16 clearfix pane">
  <div class="playlists clearfix infinite-scroll">
    <div id="infscr-page-1" class="infscr-pages">
      <%= render :partial => 'playlist', :collection => @playlists %>
    </div>
  </div>
</div>