<div class="container_16 clearfix">
  <div class="grid_16">
    <h1><%=h @playlist.name %></h1>
  </div>
</div>

<div class="container_16 clearfix pane">
  <div class="grid_16">
    <ul class="releases">
      <!-- partial -->
    </ul>
  </div>
</div>