<div class="container_16 clearfix pane">
  <div class="grid_16">
    <%= render :partial => 'navigation' %>
    
    <ul class="releases playlists">
      <li class="release playlist clearfix">
        <%= render :partial => 'playlist_info', :locals => { :tracks => @tracks } %>
        <ol class="tracks">
          <% cache Digest::MD5.hexdigest(@tracks.map(&:cache_key).to_s) do %>
          <%= render :partial => 'tracks/track', :collection => @tracks, :locals => { :show_artist => true } %>
          <% end %>
        </ol>
      </li>
    </ul>
  </div>
</div>