<div class="container_16 clearfix">
  <%= render :partial => 'navigation' %>
</div>

<div class="container_16 clearfix pane">
  <div class="grid_16">
    <ul class="releases playlists">
      <%= render :partial => 'playlist', :collection => @playlists %>
    </ul>
  </div>
</div>