<div class="account" id="account-lastfm">
  <div class="container_16 clearfix">
    <div class="pane clearfix">
      <%= render :partial => 'accounts/navigation' %>
      
      <hr />
      
      <div class="grid_8">
        <% if current_user.paying_customer? %>
        <p class="grey">Click the button below to securely connect with your
        Last.fm account and enable scrobbling of the music you listen to in
        Bitspace. You wont have to give us your Last.fm password and we have
        no way of finding it out. The process is completely secure.
        <p class="grey">You can revoke access for the Bitspace
        application at any time by going to your Last.fm settings page,
        <%= link_to('here', 'http://last.fm/settings/applications', :class => 'external', :rel => 'shadowbox') %>.</p>
        <p><%= button_to('Connect with Last.fm', authorize_lastfm_path, :method => :get, :confirm => 'WARNING: You are about to leave Bitspace. This will stop your music and cancel all currently queued uploads. Do you want to continue?') %></p>
        <% else %>
        <p class="grey">Last.fm scrobbling is only available to paying customers.</p>
        <% end %>
      </div>
      
    </div>
  </div>
</div>